<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "khansaa"){ %>
    <p>Good Choice! KHANSAA is the best! </p>
<% } %>

<!--
    <%= %> to put the js JUST INSISDE HTML-TAGS
    <% %> for normal js 
    these are just regular Javascript. 
-->